server:
  port: 80

spring:
  application:
    name: cloud-consumer-order80

eureka:
  client:
    register-with-eureka: true #向注册中心注册
    fetch-registry: true #从中心抓取已有的注册信息，默认true，单点无所谓，集群必须设置为true才能配合ribbon使用负载均匀
    service-url:
      defaultZone: http://eureka7002.com:7002/eureka/, http://eureka7001.com:7001/eureka/
      #      defaultZone: http://localhost:7001/eureka
  instance:
    instance-id: consumer-order80   #配置名称
    prefer-ip-address: true   #访问路径可以显示ip地址
