server:
  port: 3344

spring:
  application:
    name: cloud-config-center
  cloud:
    config:
      server:
        git:
          uri: https://github.com/lidongwei1220/springcloud-config.git  #git地址
          search-paths:  #搜索目录
            - springcloud-config
          label: master  #读取分支

eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka