server:
  port: 80

eureka:
  client:
    register-with-eureka: true #向注册中心注册
    fetch-registry: true #从中心抓取已有的注册信息，默认true，单点无所谓，集群必须设置为true才能配合ribbon使用负载均匀
    service-url:
      #   defaultZone: http://eureka7002.com:7002/eureka/, http://eureka7001.com:7001/eureka/
      defaultZone: http://localhost:7001/eureka

ribbon:
  #建立连接所用时间，适用于网络状况良好的情况下，两端链接所用的时间
  ReadTimeout: 5000
  #拉取超时时间
  ConnectTimeout: 5000

feign:
  hystrix:
    enabled: true